#foto{
    height: 100px;
    padding: 10px
}
#container{
    width: 90vw;
    height: auto;
    background-color: rgb(234, 143, 143);
    display: flex;
    flex-direction: column;
}
#container-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#contenido{
    background-color: black;
    color: white;
    padding: 10px;
    width: 60%;
    height: auto;
}
button{
    background-color: red;
    color: white;
    width: 70px;
    height: 50px;
    margin-top: 20px;
}
.select{
    background-color: blue;
}
#next{
    width: 100px;
    height: 50px;
}
#buscador{
    margin-left: 300px;
    & input{
        width: 300px;
    }
}