body{
    display: flex;
    justify-content: center;
    font-family: cursive;
    margin-top: 0px;
}
#calculadora{
    height: 590px;
    width: 500px;
}
.flex_row{display: flex;flex-direction: row;}
.flex_column{display: flex;flex-direction: column;}
.ml{margin-left: 20px;}
.mr{margin-right: 20px;}
.mr2{margin-right: 10px;}
.ml2{margin-left: 10px;}
.mt{margin-top: 20px;}
.mb{margin-bottom: 20px;}

#top{
    justify-content: space-between;
}
#letra{
    justify-content: space-around;
    height: 23px;
    align-items: flex-start;
}
#theme p{
    align-self: center;
}
#tipo{
    width: 70px;
}

.style1{
    background-color: rgb(3, 55, 114);
    color: white;
    & input[type=range]::-webkit-slider-thumb{
        background: red;
    }
    & button:hover{
        background-color: silver;
    }
    & #bdel, #breset{
        background-color: rgb(90, 105, 152);
        color: white;
    }
    & #bigual{
        background-color: red;
        color: white;
    }
    & #mostrador, #botones{
        background-color: black;
    }
}
.style2{
    background-color: pink;
    color: black;

    & input[type=range]::-webkit-slider-thumb{
        background: orange;
    }
    & button:hover{
        background-color: rgb(28, 203, 107);
    }
    & #bdel, #breset{
        background-color: rgb(128, 165, 91);
        color: white;
    }
    & #bigual{
        background-color: rgb(10, 176, 214);
        color: white;
    }
    & #mostrador, #botones{
        background-color: yellowgreen;
    }
}
.style3{
    background-color: purple;
    color: red;

    & input[type=range]::-webkit-slider-thumb{
        background: yellow;
    }
    & button:hover{
        background-color: rgb(242, 23, 23);
    }
    & #bdel, #breset{
        background-color: rgb(218, 41, 109);
        color: white;
    }
    & #bigual{
        background-color: rgb(255, 0, 217);
        color: white;
    }
    & #mostrador, #botones{
        background-color: rgb(67, 21, 233);
    }
}
input[type=range]{
    -webkit-appearance: none;
    background: -webkit-linear-gradient(black, black) no-repeat;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 3px;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#mostrador{
    height: 100px;
    > p{
        text-align: end;
        font-size: 30px;
    }
}
#botones{
    height: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
button{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
}
#breset{
    grid-column: 1 / 3;
    height: 48px;
}
#bigual{
    grid-column: 3 / 5;
}